<h2>Short Bio</h2>
<p>Hello! I'm Iryna Malacina (Mah-LAH-see-nah), a post-doctoral researcher at the <a href="https://www.lut.fi/en/about-lut/faculties/lut-business-school">Business School of LUT University</a> in Finland. I earned my D.Sc. in Supply Management from LUT.</p>

<p>My primary research focus is on supply network analysis, a field about which I am deeply passionate. However, my intellectual curiosity extends beyond that. I have also explored a range of topics including innovation management, environmental sustainability, and public procurement.</p>

<p>When it comes to methodology, you could say I'm a data enthusiast. I am skilled in a variety of analytical methods, particularly those related to network analysis. Currently, I am delving deep into <a href="https://www.google.com/search?q=exponential+random+graph+models">Exponential Random Graph Models</a>, but my toolkit also includes topic modeling, surveys, case studies, and literature reviews. Regardless of the method, I consistently bring a keen analytical eye to my work, which I consider to be one of my strengths.</p>

<p>Feel free to connect with me on social media or via email. I am always open to discussing new research ideas, exploring collaborative opportunities, or simply having engaging conversations about network analysis and supply management.</p>

<h2>Recent Awards and Grants <i class="fa fa-trophy"></i></h2>
<ul>
  <li><i class="fa fa-award"></i> Invited to Best Paper Proceedings of Academy of Management Annual Meeting 2024 </li>
  <li><i class="fa fa-award"></i> Lelio and Mario Raffa Best Doctoral Dissertation Award, <a href="https://www.ipsera.com/">IPSERA</a>, 2024</li>
  <li><i class="fa fa-award"></i> Teemu Aho Dissertation award for outstanding dissertation, 2023</li>
  <li><i class="fa fa-award"></i> Harry Boer Best Student Paper Award, <a href="http://www.euroma-online.org/">EUROMA</a>, 2023</li>
  <li><i class="fa fa-medal"></i> Best Paper Award, <a href="https://www.ipsera.com/">IPSERA</a>, 2023</li>
  <li><i class="fa fa-medal"></i> Incentive Grant, <a href="https://www.logy.fi/">LOGY</a>, 2023</li>
  <li><i class="fa fa-medal"></i> Incentive Grant, <a href="https://lut-tukisaatio.fi/">LUT Tukisäätiö</a>, 2022</li>
  <li><i class="fa fa-medal"></i> Research Visit Grant to RMIT Australia, <a href="https://www.lsr.fi/en/">LSR</a>, 2022</li>
</ul>

<h2>Academic Citizenship</h2>
<ul>
  <li> Member of the <a href="https://www.ipsera.com/">IPSERA</a> Executive Committee, Responsible for Network: RICCs & SIGs, Ongoing</li>
  <li> Member of the Editorial Review Board Developmental Program at the <a href="https://onlinelibrary.wiley.com/journal/1745493x">Journal of Supply Chain Management</a>, Ongoing</li>
</ul>

<h2>Other engagements</h2>
<ul>
  <li> Host of the podcast "Link to Link: The Future of Supply Networks" available on Spotify.</li> 
  <li> <iframe src="https://podcasters.spotify.com/pod/show/link-to-link/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe> </li>
</ul>
